/*
 * Navbar
 */

.navbar {
  display: flex;
  /* no styles */
}

.navbar--vertical {
  flex-direction: column;
}

.navbar__item {
  /* no styles */
}

.navbar__link {
  display: block;
  /* no styles */
}

.navbar__item--dropdown {
  position: relative;
}

.navbar__dropdown {
  display: none;
  position: absolute;
    top: 100%;
    left: 0;
  /* no styles */
}

.navbar__dropdown--is-visible {
  display: block;
}
