<nav class="breadcrumb">
  <div class="breadcrumb__step">
    <a class="breadcrumb__link" href="#"></a>
  </div>
  <div class="breadcrumb__step">
    <a class="breadcrumb__link" href="#"></a>
  </div>
  <div class="breadcrumb__step">
    <a class="breadcrumb__link" href="#"></a>
  </div>
  <div class="breadcrumb__step">
    <a class="breadcrumb__link" href="#"></a>
  </div>
  <div class="breadcrumb__step">
    <a class="breadcrumb__link" href="#"></a>
  </div>
  <div class="breadcrumb__step breadcrumb__step--current">
    <a class="breadcrumb__link" href="#"></a>
  </div>
</nav>
