<form class="form">
  <fieldset class="form__fieldset">
    <div class="form__field">
      <label class="form__label">Example</label>
      <input type="text" class="text-input">
    </div>
    <div class="form__field">
      <label class="form__label">Example</label>
      <input type="text" class="text-input">
    </div>
    <div class="form__fieldset--inline">
      <div class="form__field">
        <label class="form__label">Example</label>
        <input type="text" class="text-input">
      </div>
      <div class="form__field">
        <label class="form__label">Example</label>
        <input type="text" class="text-input">
      </div>
    </div>
    <div class="form__field">
      <label class="form__label">Example</label>
      <input type="text" class="text-input">
    </div>
  </fieldset>
  <div class="form__actions">
    <button class="button">Submit</button>
  </div>
</form>
