<nav class="pagination">
  <div class="pagination__option pagination__option--first">
    <a class="pagination__link" href="#"></a>
  </div>
  <div class="pagination__option pagination__option--previous">
    <a class="pagination__link" href="#"></a>
  </div>
  <div class="pagination__option pagination__option--current">
  </div>
  <div class="pagination__option">
    <a class="pagination__link" href="#"></a>
  </div>
  <div class="pagination__option">
    <a class="pagination__link" href="#"></a>
  </div>
  <div class="pagination__option">
    <a class="pagination__link" href="#"></a>
  </div>
  <div class="pagination__option pagination__option--next">
    <a class="pagination__link" href="#"></a>
  </div>
  <div class="pagination__option pagination__option--last">
    <a class="pagination__link" href="#"></a>
  </div>
</nav>
