/*
 * Header bar (iOS style)
 */

.header-bar {
  display: flex;
  /* no styles */
}

.header-bar--fixed {
  position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0
}

.header-bar__title {
  flex: 1;
  /* no styles */
}

.header-bar__action {
  /* no styles */
}

.header-bar__action--left {
  /* no styles */
}

.header-bar__action--right {
  /* no styles */
}
